.todo-item {
  cursor: pointer;
  user-select: none;
  position: relative;
}

.selected {
  text-decoration: line-through;
}

.todo-item-div {
  display: flex;
  align-items: center;
}

.todo-item-div .edit-field {
  position: absolute;
  display: none;
}

.todo-item-div .edit-field.visible {
  position: absolute;
  display: inline-block;
}